@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Recruiting tech challenge:</p>
<ul>
<li>API en ASP.NET Core 3.1 utilizando conexión a BBDD usando EF Core y con basic authentication</li>
<li>Frontal hecho con tencología MVC con posibilidad de buscar elementos, editar, eliminar y crear</b>.</li>
</ul>
